@*1- Tab Container Division*@
<div class="address-page-tabs-holder">
    <TabSetComp TOptions="TabHeaderOptions">
        <TabHeadersFragment Context="tab">          
            <TabHeaderComp TOptions="TabHeaderOptions" TabPage="tab">
                @*2- Start of Customize Header Section *@
                <TabHeaderLinkTextComp TOptions="TabHeaderOptions" TabPage="tab" />
                @*End of Customize Header Section *@
            </TabHeaderComp>             
    </TabHeadersFragment>        
        <TabsFragment>
            @*3- Add TabPages Here*@
            <TabPageComp TOptions="TabHeaderOptions" HeaderOptions="firstPageTabHeaderOptions">
                <h2>Transaction tab contents</h2>
            </TabPageComp>
            <TabPageComp TOptions="TabHeaderOptions" HeaderOptions="secondPageTabHeaderOptions">
                <h2>Tokens tab contents</h2>
            </TabPageComp>
            <TabPageComp TOptions="TabHeaderOptions" HeaderOptions="thirdPageTabHeaderOptions">
                <h2>API developer tab contents</h2>
            </TabPageComp>
            @*3- Add TabPages Here*@
        </TabsFragment>        
    </TabSetComp>
</div>

@code {
    //4-TabHeaderOptions as TOption
    private TabHeaderOptions firstPageTabHeaderOptions = new()
    {       
        IconClass = "fa fa-list",
        Title = "Transaction"
    };
    private TabHeaderOptions secondPageTabHeaderOptions = new()
    {       
        IconClass = "fa fa-database",
        Title = "Tokens"
    };
    private TabHeaderOptions thirdPageTabHeaderOptions = new()
    {
        IconClass = "fa fa-code",
        Title = "Developer API"
    };
}
