@*1- Tab Container Division*@
<div class="address-page-tabs-holder">
    <TabSetComp>
        <TabHeadersFragment Context="tab">          
            <TabHeaderComp TabPage="tab">
                @*2- Start of Customize Header Section *@
                <TabHeaderLinkTextComp TabPage="tab" />
                @*End of Customize Header Section *@
            </TabHeaderComp>             
    </TabHeadersFragment>        
        <TabsFragment>
            @*3- Add TabPages Here*@
            <TabPageComp HeaderOptions="firstPageTabHeaderOptions">
                <h2>Transaction tab contents</h2>
            </TabPageComp>
            <TabPageComp HeaderOptions="secondPageTabHeaderOptions">
                <h2>Tokens tab contents</h2>
            </TabPageComp>
            <TabPageComp HeaderOptions="thirdPageTabHeaderOptions">
                <h2>API developer tab contents</h2>
            </TabPageComp>
            @*3- Add TabPages Here*@
        </TabsFragment>        
    </TabSetComp>
</div>

@code {
    //4- TabHeaderOptions field customizable correspond to TabHeaderLinkTextComp
    // Id, and href is mandatory
    private TabHeaderOptions firstPageTabHeaderOptions = new()
    {
        Id = "nav-home-tab",
        Href = "nav-home",
        IconClass = "fa fa-list",
        Title = "Transaction"
    };
    private TabHeaderOptions secondPageTabHeaderOptions = new()
    {
        Id = "nav-profile-tab",
        Href = "nav-profile",
        IconClass = "fa fa-database",
        Title = "Tokens"
    };
    private TabHeaderOptions thirdPageTabHeaderOptions = new()
    {
        Id = "nav-contact-tab",
        Href = "nav-contact",
        IconClass = "fa fa-code",
        Title = "Developer API"
    };
}
