@typeparam TOptions

<div class="tab-pane fade @(Parent.ActivePage == this?" active show":"")" id="@TabId" role="tabpanel" aria-labelledby="@AriaLabel">
    @ChildContent
</div>

@code {
    [CascadingParameter(Name = "TabSet")]
    private TabSetComp<TOptions> Parent { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public bool IsActive { get; set; } = false;
    [Parameter] public TOptions HeaderOptions { get; set; }

    public string TabId { get; set; }
    public string AriaLabel { get; set; }
    protected override void OnInitialized()
    {
        if (Parent == null)
            throw new ArgumentNullException(nameof(Parent), "TabPage must exist within a TabSet");
        base.OnInitialized();
        TabId = "tab-pane-no-" + Parent.NewPageId();
        AriaLabel = "tab-pane-no-" + Parent.NewPageId() + "-tab";
        Parent.AddPage(this);
    }

}
