<div class="tab-pane fade @(Parent.ActivePage == this?" active show":"")" id="@(HeaderOptions.Href)" role="tabpanel" aria-labelledby="@HeaderOptions.Id">
    @ChildContent
</div>

@code {
    [CascadingParameter(Name = "TabSet")]
    private TabSetComp Parent { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public bool IsActive { get; set; } = false;
    [Parameter] public TabHeaderOptions HeaderOptions { get; set; }
    protected override void OnInitialized()
    {
        if (Parent == null)
            throw new ArgumentNullException(nameof(Parent), "TabPage must exist within a TabSet");
        base.OnInitialized();
        Parent.AddPage(this);
    }

}
