<CascadingValue Value="this" Name="TabSet">
    <nav>
        <div class="container">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                @foreach (TabPageComp tabPage in Pages)
                {
                    @TabHeadersFragment(tabPage)
                }

            </div>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="container">
            @TabsFragment
        </div>
    </div>
</CascadingValue>

@code {
    [Parameter]
    public RenderFragment TabsFragment { get; set; }

    [Parameter]
    public RenderFragment<TabPageComp> TabHeadersFragment { get; set; }

    private TabPageComp _activePage { get; set; }
    public List<TabPageComp> Pages { get; set; } = new List<TabPageComp>();
    public TabPageComp ActivePage => _activePage;
    internal void AddPage(TabPageComp tabPage)
    {
        Pages.Add(tabPage);
        if (Pages.Count == 1)
            _activePage = tabPage;
        StateHasChanged();
    }

    public void ActivatePage(TabPageComp tabPage)
    {
        _activePage = tabPage;
        StateHasChanged();
    }
}