@page "/tabset"

<div class="address-page-tabs-holder">
    <nav>
        <div class="container">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab"
                   data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                    <i class="fa fa-list"></i>
                    Transaction
                </a>
                <a class="nav-item nav-link" id="nav-profile-tab"
                   data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
                    <i class="fa fa-database"></i>
                    Tokens
                </a>
                <a class="nav-item nav-link" id="nav-contact-tab"
                   data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">
                    <i class="fa fa-code"></i>
                    Developer API
                </a>
            </div>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="container">
            <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">                
               <h2>Transaction tab contents</h2>              
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <h2>Tokens tab contents</h2>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <h2>API developer tab contents</h2>
            </div>
        </div>
    </div>
</div>


@code {

}
